@model ProfileViewModel

<div class="container mt-5">
 <div class="row">
        <div class="col-md-6">
            <div class="box">
            <h2>Employment History</h2>
 
            </div>
        </div>
        <div class="col-md-6 pt-5">
            <div class="box box-style" >
                        @foreach (var workHistory in Model.WorkHistories)
                        {
                <div class="card mb-3">
                    <div class="card-body">
                        <p class="card-company text-uppercase">@workHistory.CompanyName, @workHistory.CompanyAddress</p>
                        <h5 class="card-position bold-text">@workHistory.Position</h5>
                        <p class="text-muted">@workHistory.StartDate - @workHistory.EndDate</p>
                        <p>@workHistory.Skills</p>
                        <p class="bold-text">@workHistory.Description</p>
                            
                    </div>
                </div>
                        }
                     
            </div>
            </div>
                </div>
</div>


 


  