@model HomeViewModel
 
@{
    ViewData["Title"] = "Home Page";
}

<div class="container pt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="box">
             
             <img src="~/image/img.png" alt="image" />
            </div>
        </div>
        <div class="col-md-6 pt-5">
            <div class="box box-style" >
                <h3 class="text-style">I'm @Model.Name.</h3>
                <p class="p">A @Model.Title based in @Model.Address.</p>

                <p class="pt-4">
                        Contact me:<br />
                    <strong>Phone Number:</strong> @Model.PhoneNumber<br />
                    <strong>GitHub:</strong> <a href="@Model.GitHubUrl" style="color: #007bff;">@Model.GitHubUrl</a><br />
                    <strong>LinkedIn:</strong> <a href="@Model.LinkedInUrl" style="color: #007bff;">@Model.LinkedInUrl</a>
                </p>
            </div>

        </div>
    </div>
</div>

<div class="container pt-4">
    <h1 class="text-center mb-4">Work Experience</h1>
    <div class="row justify-content-center">
        @foreach (var workHistory in Model.WorkHistories.Take(2))
        {
            <div class="col-md-6">
                <div class="frame">
                    <p><strong>@workHistory.CompanyName</strong>, @workHistory.CompanyAddress</p>
                    <p>@workHistory.Position</p>
                </div>
            </div>
        }
    </div>

    <div class="text-center">
        <a asp-action="index" asp-controller="profile" class="btn btn-primary">View All</a>
    </div>
 
</div>


 
 
